* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

section#main {
    display: flex;
    justify-content: center;
    padding: 64px 103.55px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 32px;
    height: 200px;
    width: 500px;
    border: 3px solid black;
}

h1 {
    font-weight: 600;
}

.input-div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 24px 0 0 0;
}

input {
    padding: 6px 0 6px 4px;
}

.button {
    margin: 24px 0 0 0;
}

.button button {
    padding: 4px 40px;
}

#hasil-div {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-top: 24px;
}