* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 103.55px;
}

h1 {
    font-weight: 600;
}

.input-div {
    display: flex;
    gap: 10px;
    margin: 24px 0 0 0;
}

input {
    padding: 6px 0 6px 4px;
}

.button {
    margin: 24px 0 0 0;
}

.button button {
    padding: 4px 40px;
}